SeimRPG
Player
EpicManBP/Saved/Backup/*
EpicManBP/Saved/Config/*
EpicManBP/Saved/Logs/*
EpicManBP/Saved/Autosaves/*
EpicManBP/Intermediate/CachedAssetRegistry.bin
EpicManBP/Saved/AutoScreenshot.png
EpicManBP/Saved/SaveGames/MainSave.sav